#!/bin/bash

# Configuration Section

# Group ID
GROUP_ID=de.uvwxy.mfmsp

# Base artifact id, e.g. the project
BASE_ARTIFACT_ID=my-fancy-microservice-project

# Base service artifact ID
ARTIFACT_SERVICE_ID=service


function checkCommandExists {
	if [ -z "$(which $1)" ]; then
		echo "Please install $1 first."
		exit
	fi
}

